.menu1 {
display: block;
justify-content: center;
background-color: grey;
margin: 15px 15px 15px 15px;
padding: 10px 10px 10px 10px;
border: 3px dotted black;
}

.item1 {
 margin: 10px 10px 10px 10px;
padding: 10px 10px 10px 10px;
border: 3px dotted black;
color: white;
}